In [5]:
import pandas as pd
import pandas_ta as ta
import os
import backtrader as bt

In [7]:
f = 'ETHUSDT_2021-2021_15m.csv'
df = pd.read_csv(f'/home/trading/data/{f}', index_col=0)
df.set_index('close_time', inplace=True)
df.index = pd.to_datetime(df.index, unit='ms')
df.columns

df = df.close.resample('1d').ohlc()
df['rsi'] = df.ta.rsi(close='close', length=14, append=True)
df

               open     high      low    close     RSI_14        rsi
close_time
2021-01-01   731.14   748.28   720.69   728.91        NaN        NaN
2021-01-02   727.66   786.41   715.80   774.56        NaN        NaN
2021-01-03   772.93  1007.15   771.90   978.28        NaN        NaN
2021-01-04   973.40  1136.99   920.00  1041.43        NaN        NaN
2021-01-05  1090.74  1131.10   985.47  1099.56        NaN        NaN
...             ...      ...      ...      ...        ...        ...
2021-09-28  2926.03  2965.12  2800.43  2804.91  39.651864  39.651864
2021-09-29  2798.06  2934.22  2794.03  2850.45  41.126602  41.126602
2021-09-30  2847.67  3036.73  2847.67  3000.61  45.827449  45.827449
2021-10-01  3012.23  3325.20  2988.85  3309.91  53.978731  53.978731
2021-10-02  3285.02  3467.35  3260.07  3454.90  57.227746  57.227746

[275 rows x 6 columns]